<body>
  <div class="center">
    <br><br>
  <div class="container">
    <div class="word-size" style="text-align: center;">
      <br>
      <p>Hello There</p>
      <p>Welcome to the Login Page</p>
      <br>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username">
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </p>
      <div class="center">
        <div class="button">
          <button mat-flat-button color="green">Login</button>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
